//Colors

//Primary
$primary: #E86C00;
$primary-9: #EB7B1A;
$primary-8: #ED8933;
$primary-7: #E86C00;
$primary-6: #F1A766;
$primary-5: #F4B680;
$primary-4: #F6C499;
$primary-3: #F9D3B3;
$primary-2: #FAE2CC;
$primary-1: #FDF1E6;

//Secondary
$secondary: #FDCC4A;
$secondary-9: #FED25D;
$secondary-8: #FDD66E;
$secondary-7: #FEDC81;
$secondary-6: #FEE092;
$secondary-5: #FEE6A5;
$secondary-4: #FEEBB7;
$secondary-3: #FFF0C9;
$secondary-2: #FFF5DB;
$secondary-1: #FFFAED;

//Neutral
$black: #000000;
$neutral1: #2C3A4B;
$neutral2: #394452;
$neutral3: #545D69;
$neutral4: #6D7580;
$neutral5: #858C94;
$neutral6: #A5ABB3;
$neutral7: #DADEE3;
$neutral8: #EBEEF2;
$neutral9: #F4F6F9;
$white: #FFFFFF;

//Accent
$accent1: #ECB2F2;
$accent2: #2D6A6A;
$accent3: #E9AD8C;
$accent4: #221874;
$accent5: #7CC6D6;
$accent6: #E1604D;

//#region Action

//Primary
$action-primary-default: #E86C00;
$action-primary-hover: #CC5F00;
$action-primary-active: #B25300;
$action-primary-disabled: #F4B680;

//Secondary
$action-secondary-default: #19AB4F;
$action-secondary-hover: #0C9E42;
$action-secondary-active: #009236;
$action-secondary-disabled: #8CD5A7;

//Neutral
$action-neutral-default: #9098A1;
$action-neutral-hover: #858C94;
$action-neutral-active: #798087;
$action-neutral-disabled: #B2B7BE;

//other
$inverted: #FFFFFF;
$visted: #5E38BA;

//#endregion


//States
$success: #287D3C;
$successBG: #EDF9F0;
$warning: #B95000;
$warningBG: #FFF4EC;
$error: #DA1414;
$errorBG: #FEEFEF;
$info: #2E5AAC;
$infoBG: #EEF2FA;

//Fuentes
$ffamily: 'openSans',
sant-serif;
